//coment for the sake of it

//variables

//colors
$background-white: #F9F9F9;
$green: #336566;
$light-shadow: #D9D9D9;
$green-shadow:#203D3E;

//pie chart colors
$blueberry: #637CEF;
$turquoise: #2AA0A4;
$plum: #9373C0;
$yellowGreen: #13A10E;


// text colors
$text-white: #ECF1F1;
$text-dark: #203D3E;

//sizing
$tiny: 8px;
$small: 16px;
$medium: 32px;
$large: 56px;
$huge: 240px;

//font size
$very-big: $huge;
$h1: $large;
$h2: $medium;
$h3: 20px;
$p: $small;

//box shadow settings
$light-shadow-color: $light-shadow;
$green-shadow-color: $green-shadow;
$shadow-offset-x: 4px;
$shadow-offset-y: 8px;
$shadow-blur: 0px;

//box shadow variables
$light-box-shadow: $shadow-offset-x $shadow-offset-y $shadow-blur $light-shadow-color;
$green-box-shadow: $shadow-offset-x $shadow-offset-y $shadow-blur $green-shadow-color;


.full-screen-image {
    width: 100%; 
    height: 100vh; 
    object-fit: cover; 
    object-position: center center; 
  }

.margin{
  .push-down{
    margin-top: $large;
  }
  .negative-margin {
    margin-top: -85px;
}
}

.colors{
.light-background{
  background-color: $background-white;
}
  .pieChart-colors{
    .blueberry{
      background-color: $blueberry;
    }
    .turquoise{
      background-color: $turquoise;
    }
    .plum{
      background-color: $plum;
    }
    .yellowGreen{
      background-color: $yellowGreen;
    }
  }
}

.font-size{
  .very-big{
    font-size: $huge;
  }
  .h1{
    font-size: $h1;
  }
  .h2{
    font-size: $h2;
  }
  .h3{
    font-size: $h3;
  }
  .p{
    font-size: $p;
  }
}
.text-color{
  .black-text{
    color: $text-dark;
  }
  .white-text{
    color: $text-white;
  }
}
.neighbours-in-nature{
  padding-top: $large;
  padding-bottom: $large;
  border-radius: $large;
  margin-left: $medium;

  box-shadow: $light-box-shadow;
}

.nav-buttons{
  background-color: $green;
  box-shadow: $green-box-shadow;
  border-radius: $medium;
  font-size: $h2;

}
.rounded-image{
  border-radius: $large;
  min-height: 50vh;
}

.rounded-corners{
  border-radius: $large;
}


