.full-screen-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center center;
}

.margin .push-down {
  margin-top: 56px;
}
.margin .negative-margin {
  margin-top: -85px;
}

.colors .light-background {
  background-color: #F9F9F9;
}
.colors .pieChart-colors .blueberry {
  background-color: #637CEF;
}
.colors .pieChart-colors .turquoise {
  background-color: #2AA0A4;
}
.colors .pieChart-colors .plum {
  background-color: #9373C0;
}
.colors .pieChart-colors .yellowGreen {
  background-color: #13A10E;
}

.font-size .very-big {
  font-size: 240px;
}
.font-size .h1 {
  font-size: 56px;
}
.font-size .h2 {
  font-size: 32px;
}
.font-size .h3 {
  font-size: 20px;
}
.font-size .p {
  font-size: 16px;
}

.text-color .black-text {
  color: #203D3E;
}
.text-color .white-text {
  color: #ECF1F1;
}

.neighbours-in-nature {
  padding-top: 56px;
  padding-bottom: 56px;
  border-radius: 56px;
  margin-left: 32px;
  box-shadow: 4px 8px 0px #D9D9D9;
}

.nav-buttons {
  background-color: #336566;
  box-shadow: 4px 8px 0px #203D3E;
  border-radius: 32px;
  font-size: 32px;
}

.rounded-image {
  border-radius: 56px;
  min-height: 50vh;
}

.rounded-corners {
  border-radius: 56px;
}
