.images .full-screen-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center center;
}
.images .smaller-image {
  width: 15%;
}
.images .medium-image {
  width: 70%;
}
.images .medium-image1 {
  width: 50%;
}

.margin .push-down {
  margin-top: 56px;
}
.margin .move-right {
  margin-left: 240px;
}
.margin .move-left {
  margin-right: 240px;
}
.margin .negative-margin {
  margin-top: -85px;
}
.margin .spacing-100 {
  margin-bottom: 56px;
}
.margin .section-spacing {
  margin-bottom: 240px;
}

.padding-100 {
  padding-bottom: 56px;
}

.flexing {
  display: flex;
  justify-content: flex-end;
}

.colors .light-background {
  background-color: #F9F9F9;
}
.colors .beige-background {
  background-color: #F9F4EC;
}
.colors .green {
  background-color: #336566;
}
.colors .pieChart-colors .blueberry {
  background-color: #637CEF;
}
.colors .pieChart-colors .turquoise {
  background-color: #2AA0A4;
}
.colors .pieChart-colors .plum {
  background-color: #9373C0;
}
.colors .pieChart-colors .yellowGreen {
  background-color: #13A10E;
}

.font-size .very-big {
  font-size: 240px;
}
.font-size .big {
  font-size: 100px;
}
.font-size .h1 {
  font-size: 56px;
}
.font-size .h2 {
  font-size: 32px;
}
.font-size .h3 {
  font-size: 20px;
}
.font-size .p {
  font-size: 16px;
}

.text-color .black-text {
  color: #203D3E;
}
.text-color .white-text {
  color: #ECF1F1;
}

.neighbours-in-nature {
  padding-top: 56px;
  padding-bottom: 56px;
  border-radius: 56px;
  margin-left: 32px;
  box-shadow: 4px 8px 0px #D9D9D9;
}

.nav-buttons {
  background-color: #336566;
  box-shadow: 4px 8px 0px #203D3E;
  border-radius: 32px;
  font-size: 32px;
}

.rounded-image {
  border-radius: 56px;
  min-height: 50vh;
}

.rounded-corners {
  border-radius: 56px;
}

.align-text-right {
  text-align: right;
}

.footer-size {
  min-height: 240px;
}

.line {
  width: 100%;
  height: 1px;
  border-top: 1px solid #203D3E;
}

a {
  text-decoration: none;
  color: #ECF1F1;
}
a .green-box-shadow {
  box-shadow: 4px 8px 0px #203D3E;
}
